[submodule "Web-Hid"]
	path = Web-Hid
	url = https://github.com/Jian-Kai/web-hid.git
[submodule "DynamicTheme"]
	path = DynamicTheme
	url = https://github.com/Jian-Kai/DynamicTheme.git
[submodule "Postman2OpenApi"]
	path = Postman2OpenApi
	url = https://github.com/Jian-Kai/Postman2Openapi.git
